<div [@routerTransition]>
<div class="col col-sm-15">
    <div class="card mb-7">
        <div class="card-header">
            Daily Production
        </div>
        <div class="card-block">
            <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
        </div>
    </div>
</div>
</div>
